<div class="jumbotron">
<h2><%= "Hello #{current_user.email}" %></h2>
    <%= form_tag comments_path root_path method: :post do %>
        <%= text_area_tag 'comment', nil, class: 'form-control' %>
        <br>
        <%= submit_tag 'Save', class: 'btn btn-info'%>
    <% end %>
</div>

<ul class="comment">
    <% @comments.each do |comment| %>
        <li class="card text-white bg-info mb-3" style="max-width: 65rem;">
            <span class="card-header"><%= "#{current_user.email}" %></span>
            <span class="card-text"><%= comment.content %></span>
        </li>
    <% end %>
</ul>
